* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    overflow: scroll;
    height: 2000px;
}
.menu{
    height:60px;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
}

.intro{
    height: 20px;
    width: 250px;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: 3px blue dotted;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
    padding: 10px 50px;
 
}

.full-box{
    height: 200px;
    width: 100%;
    background-color: red;
    margin-top: 100px;
}

.middle-box{
    height: 80px;
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: green;
    color: white;
    padding: 10px 8px 20px 8px;
    text-align: center;
}